body {
  max-width: 950px;
  margin: auto;
  background-color: rgb(248, 225, 221);
}

.hidden {
  display: none;
}

.jumbotron {
  background-color: rgb(196, 240, 225);
  border-radius: 10px;
  border:rgb(248, 225, 221) double 8px;
}

main {
  background-color: rgb(245, 239, 217);
  padding: 20px;
  border-radius: 10px;
}

main p {
  text-align: center;
}

#answer-container {
  text-align: center;
}
.answer {
  background-color: rgb(196, 240, 225);
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 50px;
  border-radius: 10px;
  border:rgb(248, 225, 221) double 8px;
}
.suggestion {
  font-style: italic;
  font-size: 1.1em;
}